* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-dark-color: hsl(0, 0%, 90%);
    --bg-color: hsl(0, 0%, 95%);
    --bg-light-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 85%);
    --secondary-hover-color: hsl(0, 0%, 75%);
    --primary-color: hsl(215, 100%, 50%);
    --primary-hover-color: hsl(215, 100%, 60%);
    --accent-color: hsl(50, 100%, 50%);
    --accent-hover-color: hsl(50, 100%, 60%);
    --text: hsl(0, 0%, 0%);
}

.darkmode {
    --bg-dark-color: hsl(0, 0%, 0%);
    --bg-color: hsl(0, 0%, 5%);
    --bg-light-color: hsl(0, 0%, 10%);
    --secondary-color: hsl(0, 0%, 15%);
    --secondary-hover-color: hsl(0, 0%, 25%);
    --text: hsl(0, 0%, 100%);
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: var(--bg-dark-color);
    transition: all 0.2s ease-in-out;
}

.container {
    width: 482px;
    height: 720px;
    background: var(--bg-color);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.output {
    width: 440px;
    height: 128px;
    border-radius: 1rem;
    outline: none;
    border: none;
    background: var(--bg-light-color);
    font-size: 4rem;
    font-weight: 700;
    text-align: right;
    padding: 1rem;
    color: var(--text);
    transition: all 0.2s ease-in-out;
}

.buttons {
    width: 440px;
    height: 544px;
    background-color: var(--bg-light-color);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    transition: all 0.2s ease-in-out;
}

button {
    width: 96px;
    height: 96px;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--text);
    transition: all 0.2s ease-in-out;
}

button:nth-child(2) { grid-column: 3/4; }
button:nth-child(17) { grid-column: 3/4; }

.primary { background: var(--primary-color); }
.secondary { background: var(--secondary-color); }
.special { background: var(--accent-color); }

.primary:hover { background: var(--primary-hover-color); }
.secondary:hover { background: var(--secondary-hover-color); }
.special:hover { background: var(--accent-hover-color); }

